{% extends 'SubmitApp/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Sign in/up{% endblock %}

{% block content %}
  <div class="py-0 text-center">
        <img class="d-block mx-auto mb-1" src="{% static 'images/nb3.png' %}" alt="" width="72" height="72">
        <h2>So you wanna know about me..</h2>
        <p class="lead">I was created by a smart guy :) to assist in the collection and organization of submissions by participants of the Nkechi Bianze Challenge.</p>
  </div>
{% endblock%}