{% extends 'SubmitApp/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    {% if form %}
        <div class="py-0 text-center">
            <img class="d-block mx-auto mb-1" src="{% static 'images/nb3.png' %}" alt="" width="72" height="72">
            <h2>Question Upload form</h2>
            <p class="lead">Use this form to upload a question or challenge for the students. The question should be a summary text/heading of the question.</p>
        </div>
        <form method="post" action="{% url 'question_upload' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
    {% else %}
        <div class="py-0 text-center">
            <img class="d-block mx-auto mb-1" src="{% static 'images/nb3.png' %}" alt="" width="72" height="72">
            <h2>Ooops!!</h2>
            <p class="lead">You have already uploaded the question/challenge for today, wait till tomorrow.</p>
        </div>
    {% endif %}
{% endblock content %}